:root {
    /* your root variables */
    --green-blue-crayola: hsl(202, 75%, 47%);
    --prussian-blue: hsl(202, 72%, 15%);
    --eerie-black: hsl(210, 11%, 15%);
    --dark-orange: hsl(32, 100%, 50%);
    /* ... rest of your CSS */
  }
  
  /* Reset */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*... rest of your global styles */
  